<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SwiftVine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>SwiftVineTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Vine Demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Vine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E73AD4FB19BA302500FF5B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E73AD50619BA302500FF5B08</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7488F2819BD4F40005302BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7488F4319BD4F41005302BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7488F5619BD4F7A005302BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7488F6919BD4F7A005302BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E791709B19BD505E00CEF791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E79170AC19BD505F00CEF791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E9BD2919BD51CA0006EED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E7E9BD3A19BD51CA0006EED3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
